<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Image Puzzle</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
  <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
</head>
<body>
  <h1 id="title">Picture Puzzle</h1>
  <div id="score-display">Score: 0</div>
  <div id="timer-display">03:00</div>
  <div id="puzzle-container"></div>
  <div id="pieces"></div>
  <button id="next-button">Next</button>
  <div id="oops-message">Ding dong! It's wrong.</div>
  <div id="time-up-message" class="game-message">Time up! Moving to the next puzzle...</div>
  <div id="message">
    🎉 Congratulations..you did it!<br>
    Your Final Score: <span id="final-score">0</span>
  </div>
  <audio id="confetti-sound" src="{{ url_for('static', filename='../static/confetti.mp3') }}" preload="auto"></audio>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>